//colores
$color-principal:rgba(255, 0, 0, 0.637);
$color-secundario:white;
$color-fondo:rgb(0, 0, 0);
$color-fondosecundario:rgb(24, 24, 24);

//fuentes
$fuente-principal:"Bebas", sans-serif;
$fuente-secundaria:"Kay Pho Du", serif;

//espaciado
$padding: 2rem;
$margin: 2.5rem;

//breakpoints para distintos dispositivos 
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;